<div class="container">
    <div *ngIf="!getClaims()" class="row">
      <div class="col-md-12">
        <h1>Melden Sie sich an, um die ToDoApp benutzen zu können</h1>
        <button class="btn btn-primary center" (click)="login()">Login</button>
        <button class="btn btn-danger" *ngIf="!getClaims()" (click)="logout()">Logout</button>
      </div>
    </div>
    <div *ngIf="getClaims()" class="row">
      <div class="col-md-12">
        <h1>Willkommen "{{firstName}} {{lastName}}" in der coolen ToDoApp, Sie können jetzt starten</h1>
        <button class="btn btn-primary center" *ngIf="!getClaims()" (click)="login()">Login</button>
        <button class="btn btn-danger" *ngIf="getClaims()" (click)="logout()">Logout</button>
        <hr>
      </div>
    </div>
  <div *ngIf="getClaims()" class="row mt-3">
    <div class="col-md-5">
      <app-item-list></app-item-list>
    </div>
    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>